<!-- Toolbar -->
<div class="toolbar" role="banner">
  <a href="**">
    <img style="height:100px;" src="/assets/Nayarit Blanco.png">
  </a>
  <div class="spacer"></div>
  <span style="font-size: 25px; ">Reporte de estado Web</span>
  <div class="spacer"></div>
</div>
<div id="Contenido">
  <div class = "tabla">
    <hr>
    <h1>Dependencias</h1>
    <hr>
    <app-tabladatos></app-tabladatos>
  </div>
  <div class = "tabla">
    <hr>
    <h1>Organismos</h1>
    <hr>
    <app-tabladatos></app-tabladatos>
  </div>
</div>